.client {
    text-align: center;
    margin-top: 4em;
    margin-bottom: 5em;
    display: flex;
    flex-direction: column;

    &__title {
        color: $softGrey;
        letter-spacing: .3em;
    }
    p {
        font-family: "Fraunces", serif;
    }
    .client__groupe{
        display: flex;
        flex-direction: column;
        @media only screen and (min-width: $desktop) {
            flex-direction: row;
        }
        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 4em;
            @media only screen and (min-width: $desktop) {
                flex-direction: column;
            }
            img {
                border-radius: 50%;
                width: 20%;
            }
            p {
                width: 80%;
                font-family: "Barlow", sans-serif;
                color: $grey;
            }
            .name {
                font-weight:bolder;
                font-family: "Fraunces", serif;
                color: $deepblue;
            }
            .profession{
                color: $softGrey;
                margin-top: 1em;
                font-size: .8em;
            }
        }
    }
}
