.graphic, .photography{
    text-align: center;
    background-image: url(/assets/img/photos/image-graphic-design.jpg);
    background-position: center;
    background-size: cover;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #24554A;
    h3{
        padding-top: 30vh;
        font-family: "Fraunces", serif;
        font-size: 2em;
    }
    p{
        width: 70%;
    }
}

.photography{
    text-align: center;
    background-image: url(/assets/img/photos/image-photography.jpg);
    background-position: center;
    background-size: cover;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #19536C;
    h3{
        padding-top: 30vh;
        font-family: "Fraunces", serif;
        font-size: 2em;
    }
    p{
        width: 70%;
    }
}