// COLORS
$softGrey: #808397;
$grey: #5B636D;
$softBlue: rgb(89, 164, 255);
$deepblue: #24303E;
$softYellow: rgb(241, 200, 86);
$softGreen: #90D4C6;
$darkGreen: #2C7566;
$softPink: rgb(238, 128, 128);

// FONTS
@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Fraunces:wght@700&display=swap');

// MEDIA
$desktop: 821px; // Ipad Air +1px